*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}
nav:first-child{
    margin-left: 20px;
}
.nav-item{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20px;
}
.active-item{
    font-family: "Poppins";
    font-weight: bolder;
    color: tomato;
}
/* ---Nav section Media query for mobile response */
@media screen and (max-width: 500px){
    nav{
        flex-direction: space-between;
        justify-content: center;
        align-items: flex-start;
        column-gap: 30px;
    }
    .nav-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0;
    }
    nav img:first-of-type{
        width: 120px;
        height: auto;
        margin-left: 0;
    }
    nav img:last-of-type{
       width: 180px;
       height: auto;

    }

}
.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* position: relative; */
    margin-top: 80px;
    margin-left: 25px;

}
.left-section > h3{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 40px;
    /* position: absolute;
    top: 250px; */
}
h3 > img{
    width: 50px;
}
h1{
    font-family: "Fredoka One";
    font-weight: 500;
    font-size:70px;
    margin: 7px;
    /* position: absolute;
    top: 100px; */
}
.sub-headlines{
    margin-left: 80px;
    margin-bottom: 50px;
}
.sub-headlines > h5{
    font-family: poppins;
    font-weight: lighter;
    font-size: 25px;
    margin: 7px;
}
.sub-headlines img{
    width: 14px;
    background-color: tomato;
    border-radius: 12px;
    padding: 4px;
}
.text{
    font-family: poppins;
    font-size: 12px;
    color: #758384;
    margin-right: 290px;
   text-align: justify-all;
}
.action-btn{
    padding: 10px 28px;
    border-radius: 22px;
    border: none;
    font-family: poppins;
    /* font-size: 20px; */
    background-color: tomato;
    font-size: 100%;
    color: #ffffff;
    margin-right:20px;
    margin-top: 20px;
    cursor: pointer;
}
.action-btns{
    margin-top: 8px;
}
/* ---intro-rightSection Media query for mobile response */

@media screen and (max-width: 500px) {
    .left-section{
        margin-top: 30px;
    }
    .left-section h3{
        font-size: 25px;
        margin-left: 10px;
    }
    .left-section h1{
        font-weight: 200;
        font-size:30px;
        margin-left: 10px;
    }
    .sub-headlines{
        margin-left: 10px;
        margin-bottom: 30px;
    }
    .sub-headlines > h5{
        font-size: 18px;
    }
    .sub-headlines img{
        width: 10px;
    }
    .text{
        font-size: 12px;
        margin-left: 10px;
       width: 80%;
    }
    .action-btn{
        padding: 8px 20px;
        margin-left:30px;
        margin-top: 20px;
        margin-bottom: 30px;
    }



}
.dot{
    height: 20px;
    width: 20px;
    border-radius: 14px;
    padding: 2px;
}
.dots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 350px;
    margin-right: 340px;
    margin-bottom: 26px;
}
.yellow-dot{
    background-color: yellow;
}
.tomato-dot{
    background-color: tomato;
}
.black-dot{
    background-color: #000000;
}
.discount{
    position: absolute;
    margin-top: 150px;
    width: 120px;
    right: 468px;

}
.discount-content{
    font-family: "poppins";
    position: absolute;
    top: 330px;
    right: 480px;
    font-size: 14px;
    color: #ffffff;
   /* line-height: 35px; */
   line-height: 23px;
   text-align: center;
}
.discount-content h1{
    font-size: 42px;
}
img[src="./images/headphones.jpg"]{
    position: absolute;
    top: 0;
    margin-top: 80px;
    width: 410px;
    height: 410px;
    right: 180px;
    z-index: -1;
}

/* ---intro-leftSection Media query for mobile response */

@media screen and (max-width: 500px) {
    .intro-section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-left: 25px;
    }
    .right-section{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }
    .headphone-div img:last-of-type{
        width: 220px;
        height: auto;
        top: 120px;
        left: 120px;
    }
    .discount{
        margin-top: 70px;
        width: 90px;
        height: auto;
        right: 240px;
    }
    .discount-content{
        top: 320px;
        right: 255px;
        font-size: 11px;
        line-height: 15px;
    }
    .discount-content h1{
       font-size: 20px;
    }
    .dot{
        height: 15px;
        width: 15px;
        border-radius: 14px;
        padding: 2px;
        align-items: center;
    }
    .dots{
        gap: 10px;
        margin-top: 230px;
        margin-right: 50px;
        margin-bottom: 6px;
    }
    .right-section button{
        padding: 10px 17px;
        margin-right:50px;
        margin-top: 20px;
    }
}